<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bbs club</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/index.css">

</head>
<body background="/static/imgs/1.jpg"
    style="background-repeat: no-repeat;
           background-size: cover;">
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <!--<ul class="nav pull-left">-->
                <!--<a href="/" class="logo">-->
                    <!--<img src="/static/logo.jpg" width="80px" height="30px">-->
                <!--</a>-->
            <!--</ul>-->
            <ul class='nav pull-right'>
                <li><a href="/">首页</a></li>
                <li><a href="/topic">话题</a></li>
                <li><a href="/profile">个人主页</a></li>
                <li><a href="/mail">私信</a></li>
                <li><a href="/chatroom">聊天室</a></li>
                <li><a href="/setting">设置</a> </li>
                <li><a href="/login/view">登录</a></li>
            </ul>
        </div>
    </div>
</div>
<div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 style="text-align: center">
        <span style="font-size: 55px;
              color: #ff9955;
              font-family: 华文行楷">
            Welcome~这里有只橘子猪
        </span>
    </h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div>
        <h6 style="text-align: center">
            <span style="font-size: 20px;
                  color: #ababab">
                I love three things in this world.
            </span>
            <br>
            <br>
            <span style="font-size: 20px;
                  color: #d0d0d0">
                Sun, moon and you. Sun for morning, moon for night , and you forever .
            </span>
        </h6>
    </div>

</div>
</body>
</html>